<div class="main-container">
  <h1 class="main-heading">TODO List App</h1>
  <button
    nz-button
    nzSize="large"
    nzType="primary"
    nzBlock
    type="button"
    class="add-new-btn"
    (click)="addNewTask()"
  >
    <span nz-icon nzType="plus-circle" nzTheme="outline"></span> ADD NEW TASK
  </button>

  <nz-alert
    nzType="info"
    nzMessage="Note"
    nzDescription="Click on the task to see description, Finished tasks are marked with check"
    nzShowIcon
    class="alert"
  ></nz-alert>

  <nz-collapse>
    <nz-collapse-panel
      *ngFor="let task of tasks"
      [nzHeader]="task.title"
      [nzExtra]="task.isCompleted ? extraTpl : extraTplEmpty"
      [ngStyle]="task.isCompleted ? customStyle : customStyle2"
    >
      <p>
        {{ task.description }}
      </p>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="8">
          <button
            nz-button
            nzDanger="true"
            nzType="primary"
            type="button"
            nzBlock
            nz-tooltip
            nzTooltipTitle="Delete task"
            nzTooltipPlacement="left"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this task?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="confirm(task)"
            (nzOnCancel)="cancel()"
          >
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </div>
        <div nz-col [nzSpan]="8">
          <button
            nz-button
            nzType="primary"
            type="button"
            nzBlock
            nz-tooltip
            nzTooltipTitle="Edit task"
            nzTooltipPlacement="top"
            (click)="
              editTask(task.title, task.description, task.isCompleted, task._id)
            "
          >
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
        </div>
        <div nz-col [nzSpan]="8">
          <button
            *ngIf="!task.isCompleted"
            nz-button
            nzType="primary"
            type="button"
            nzBlock
            nz-tooltip
            nzTooltipTitle="Mark as finished"
            nzTooltipPlacement="right"
            id="finish-btn"
            (click)="markAsCompleted(task)"
          >
            <span nz-icon nzType="check" nzTheme="outline"></span>
          </button>
          <button
            *ngIf="task.isCompleted"
            nz-button
            nzType="primary"
            type="button"
            nzBlock
            nz-tooltip
            nzTooltipTitle="Mark as unfinished"
            nzTooltipPlacement="right"
            id="unfinish-btn"
            (click)="markAsNotCompleted(task)"
          >
            <span nz-icon nzType="close" nzTheme="outline"></span>
          </button>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <ng-template #extraTpl>
    <!-- You can use stopPropagation if you don't want the panel to toggle -->
    <span nz-icon nzType="check-circle" style="color: #274916"></span>
  </ng-template>
  <ng-template #extraTplEmpty>
    <!-- You can use stopPropagation if you don't want the panel to toggle -->
    <span nz-icon></span>
  </ng-template>
</div>
